/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {


#define BASE 0
#define NUMBER 1
#define SYMBOL 2
#define ARROW 3
#define TMUX 4


  keymap {
    compatible = "zmk,keymap";

    base_layer {
      bindings = <
        &tran &trans &trans &trans &trans     &tran &trans &trans &trans &trans
        &tran &trans &trans &trans &trans     &tran &trans &trans &trans &trans
        &tran &trans &trans &trans &trans     &tran &trans &trans &trans &trans
        &tran &trans                          &trans &trans
        >;
    };

    number_layer {
      bindings = <
        &tran &trans &trans &trans &trans     &tran &trans &trans &trans &trans
        &tran &trans &trans &trans &trans     &tran &trans &trans &trans &trans
        &tran &trans &trans &trans &trans     &tran &trans &trans &trans &trans
        &tran &trans                          &trans &trans
        >;
    };

    symbol_layer {
      bindings = <
        &tran &trans &trans &trans &trans     &tran &trans &trans &trans &trans
        &tran &trans &trans &trans &trans     &tran &trans &trans &trans &trans
        &tran &trans &trans &trans &trans     &tran &trans &trans &trans &trans
        &tran &trans                          &trans &trans
        >;
    };

    arrow_layer {
      bindings = <
        &tran &trans &trans &trans &trans     &tran &trans &trans &trans &trans
        &tran &trans &trans &trans &trans     &tran &trans &trans &trans &trans
        &tran &trans &trans &trans &trans     &tran &trans &trans &trans &trans
        &tran &trans                          &trans &trans
        >;
    };

    tmux_layer {
      bindings = <
        &tran &trans &trans &trans &trans     &tran &trans &trans &trans &trans
        &tran &trans &trans &trans &trans     &tran &trans &trans &trans &trans
        &tran &trans &trans &trans &trans     &tran &trans &trans &trans &trans
        &tran &trans                          &trans &trans
        >;
    };

  };
};
